
.custom-accordion-container {
    background-color: green;
    color: white;
  }
  
  .custom-accordion {
    background-color: green;
    color: white;
  }
  
  .custom-accordion-summary {
    background-color: green;
    color: white;
  }
  
  .custom-accordion-details {
    background-color: green;
    color: white;
  }
  